* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration: none;
  list-style: none;
  outline: none;
}
*:focus-visible {
  border: 1px solid var(--Colour-Charged-Blue-500, #27c5d9) !important;
}

html,
body {
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden !important;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 16px;
}

.container_pd {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

@media (max-width: 1050px) {
  .container {
    padding: 0 15px;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #020d12;
}

img {
  width: 100%;
  display: block;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--Colour-White-50, rgba(255, 255, 255, 0.05));
}

::-webkit-scrollbar-thumb {
  background: #27c5d9;
  border-radius: 3px;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

body::-webkit-scrollbar-thumb {
  border-radius: 99px;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  width: 8px !important;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #020d12;
  z-index: 9999;
  -webkit-transition: 0.4s all linear;
  transition: 0.4s all linear;
}

.holder {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: #2D2F48;
}

.preloader {
  /* size */
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-animation: rotatePreloader 2s infinite ease-in;
          animation: rotatePreloader 2s infinite ease-in;
}

@-webkit-keyframes rotatePreloader {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
            transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
            transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
  }
}

@keyframes rotatePreloader {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
            transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
            transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
  }
}
.preloader div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.preloader div:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0%;
  width: 10%;
  height: 10%;
  background-color: #27c5d9;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
}

.preloader div:nth-child(1) {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-animation: rotateCircle1 2s infinite linear;
          animation: rotateCircle1 2s infinite linear;
  z-index: 9;
}

@-webkit-keyframes rotateCircle1 {
  0% {
    opacity: 0;
  }
  0% {
    opacity: 1;
    -webkit-transform: rotateZ(36deg);
            transform: rotateZ(36deg);
  }
  7% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  57% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle1 {
  0% {
    opacity: 0;
  }
  0% {
    opacity: 1;
    -webkit-transform: rotateZ(36deg);
            transform: rotateZ(36deg);
  }
  7% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  57% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(2) {
  -webkit-transform: rotateZ(36deg);
          transform: rotateZ(36deg);
  -webkit-animation: rotateCircle2 2s infinite linear;
          animation: rotateCircle2 2s infinite linear;
  z-index: 8;
}

@-webkit-keyframes rotateCircle2 {
  5% {
    opacity: 0;
  }
  5.0001% {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  12% {
    -webkit-transform: rotateZ(-36deg);
            transform: rotateZ(-36deg);
  }
  62% {
    -webkit-transform: rotateZ(-36deg);
            transform: rotateZ(-36deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle2 {
  5% {
    opacity: 0;
  }
  5.0001% {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  12% {
    -webkit-transform: rotateZ(-36deg);
            transform: rotateZ(-36deg);
  }
  62% {
    -webkit-transform: rotateZ(-36deg);
            transform: rotateZ(-36deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(3) {
  -webkit-transform: rotateZ(72deg);
          transform: rotateZ(72deg);
  -webkit-animation: rotateCircle3 2s infinite linear;
          animation: rotateCircle3 2s infinite linear;
  z-index: 7;
}

@-webkit-keyframes rotateCircle3 {
  10% {
    opacity: 0;
  }
  10.0002% {
    opacity: 1;
    -webkit-transform: rotateZ(-36deg);
            transform: rotateZ(-36deg);
  }
  17% {
    -webkit-transform: rotateZ(-72deg);
            transform: rotateZ(-72deg);
  }
  67% {
    -webkit-transform: rotateZ(-72deg);
            transform: rotateZ(-72deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle3 {
  10% {
    opacity: 0;
  }
  10.0002% {
    opacity: 1;
    -webkit-transform: rotateZ(-36deg);
            transform: rotateZ(-36deg);
  }
  17% {
    -webkit-transform: rotateZ(-72deg);
            transform: rotateZ(-72deg);
  }
  67% {
    -webkit-transform: rotateZ(-72deg);
            transform: rotateZ(-72deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(4) {
  -webkit-transform: rotateZ(108deg);
          transform: rotateZ(108deg);
  -webkit-animation: rotateCircle4 2s infinite linear;
          animation: rotateCircle4 2s infinite linear;
  z-index: 6;
}

@-webkit-keyframes rotateCircle4 {
  15% {
    opacity: 0;
  }
  15.0003% {
    opacity: 1;
    -webkit-transform: rotateZ(-72deg);
            transform: rotateZ(-72deg);
  }
  22% {
    -webkit-transform: rotateZ(-108deg);
            transform: rotateZ(-108deg);
  }
  72% {
    -webkit-transform: rotateZ(-108deg);
            transform: rotateZ(-108deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle4 {
  15% {
    opacity: 0;
  }
  15.0003% {
    opacity: 1;
    -webkit-transform: rotateZ(-72deg);
            transform: rotateZ(-72deg);
  }
  22% {
    -webkit-transform: rotateZ(-108deg);
            transform: rotateZ(-108deg);
  }
  72% {
    -webkit-transform: rotateZ(-108deg);
            transform: rotateZ(-108deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(5) {
  -webkit-transform: rotateZ(144deg);
          transform: rotateZ(144deg);
  -webkit-animation: rotateCircle5 2s infinite linear;
          animation: rotateCircle5 2s infinite linear;
  z-index: 5;
}

@-webkit-keyframes rotateCircle5 {
  20% {
    opacity: 0;
  }
  20.0004% {
    opacity: 1;
    -webkit-transform: rotateZ(-108deg);
            transform: rotateZ(-108deg);
  }
  27% {
    -webkit-transform: rotateZ(-144deg);
            transform: rotateZ(-144deg);
  }
  77% {
    -webkit-transform: rotateZ(-144deg);
            transform: rotateZ(-144deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle5 {
  20% {
    opacity: 0;
  }
  20.0004% {
    opacity: 1;
    -webkit-transform: rotateZ(-108deg);
            transform: rotateZ(-108deg);
  }
  27% {
    -webkit-transform: rotateZ(-144deg);
            transform: rotateZ(-144deg);
  }
  77% {
    -webkit-transform: rotateZ(-144deg);
            transform: rotateZ(-144deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(6) {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  -webkit-animation: rotateCircle6 2s infinite linear;
          animation: rotateCircle6 2s infinite linear;
  z-index: 4;
}

@-webkit-keyframes rotateCircle6 {
  25% {
    opacity: 0;
  }
  25.0005% {
    opacity: 1;
    -webkit-transform: rotateZ(-144deg);
            transform: rotateZ(-144deg);
  }
  32% {
    -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg);
  }
  82% {
    -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle6 {
  25% {
    opacity: 0;
  }
  25.0005% {
    opacity: 1;
    -webkit-transform: rotateZ(-144deg);
            transform: rotateZ(-144deg);
  }
  32% {
    -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg);
  }
  82% {
    -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(7) {
  -webkit-transform: rotateZ(216deg);
          transform: rotateZ(216deg);
  -webkit-animation: rotateCircle7 2s infinite linear;
          animation: rotateCircle7 2s infinite linear;
  z-index: 3;
}

@-webkit-keyframes rotateCircle7 {
  30% {
    opacity: 0;
  }
  30.0006% {
    opacity: 1;
    -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg);
  }
  37% {
    -webkit-transform: rotateZ(-216deg);
            transform: rotateZ(-216deg);
  }
  87% {
    -webkit-transform: rotateZ(-216deg);
            transform: rotateZ(-216deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle7 {
  30% {
    opacity: 0;
  }
  30.0006% {
    opacity: 1;
    -webkit-transform: rotateZ(-180deg);
            transform: rotateZ(-180deg);
  }
  37% {
    -webkit-transform: rotateZ(-216deg);
            transform: rotateZ(-216deg);
  }
  87% {
    -webkit-transform: rotateZ(-216deg);
            transform: rotateZ(-216deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(8) {
  -webkit-transform: rotateZ(252deg);
          transform: rotateZ(252deg);
  -webkit-animation: rotateCircle8 2s infinite linear;
          animation: rotateCircle8 2s infinite linear;
  z-index: 2;
}

@-webkit-keyframes rotateCircle8 {
  35% {
    opacity: 0;
  }
  35.0007% {
    opacity: 1;
    -webkit-transform: rotateZ(-216deg);
            transform: rotateZ(-216deg);
  }
  42% {
    -webkit-transform: rotateZ(-252deg);
            transform: rotateZ(-252deg);
  }
  92% {
    -webkit-transform: rotateZ(-252deg);
            transform: rotateZ(-252deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle8 {
  35% {
    opacity: 0;
  }
  35.0007% {
    opacity: 1;
    -webkit-transform: rotateZ(-216deg);
            transform: rotateZ(-216deg);
  }
  42% {
    -webkit-transform: rotateZ(-252deg);
            transform: rotateZ(-252deg);
  }
  92% {
    -webkit-transform: rotateZ(-252deg);
            transform: rotateZ(-252deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(9) {
  -webkit-transform: rotateZ(288deg);
          transform: rotateZ(288deg);
  -webkit-animation: rotateCircle9 2s infinite linear;
          animation: rotateCircle9 2s infinite linear;
  z-index: 1;
}

@-webkit-keyframes rotateCircle9 {
  40% {
    opacity: 0;
  }
  40.0008% {
    opacity: 1;
    -webkit-transform: rotateZ(-252deg);
            transform: rotateZ(-252deg);
  }
  47% {
    -webkit-transform: rotateZ(-288deg);
            transform: rotateZ(-288deg);
  }
  97% {
    -webkit-transform: rotateZ(-288deg);
            transform: rotateZ(-288deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle9 {
  40% {
    opacity: 0;
  }
  40.0008% {
    opacity: 1;
    -webkit-transform: rotateZ(-252deg);
            transform: rotateZ(-252deg);
  }
  47% {
    -webkit-transform: rotateZ(-288deg);
            transform: rotateZ(-288deg);
  }
  97% {
    -webkit-transform: rotateZ(-288deg);
            transform: rotateZ(-288deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.preloader div:nth-child(10) {
  -webkit-transform: rotateZ(324deg);
          transform: rotateZ(324deg);
  -webkit-animation: rotateCircle10 2s infinite linear;
          animation: rotateCircle10 2s infinite linear;
  z-index: 0;
}

@-webkit-keyframes rotateCircle10 {
  45% {
    opacity: 0;
  }
  45.0009% {
    opacity: 1;
    -webkit-transform: rotateZ(-288deg);
            transform: rotateZ(-288deg);
  }
  52% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
  }
  102% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}

@keyframes rotateCircle10 {
  45% {
    opacity: 0;
  }
  45.0009% {
    opacity: 1;
    -webkit-transform: rotateZ(-288deg);
            transform: rotateZ(-288deg);
  }
  52% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
  }
  102% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
  }
  100% {
    -webkit-transform: rotateZ(-324deg);
            transform: rotateZ(-324deg);
    opacity: 1;
  }
}
@media (max-width: 1100px) {
  .big_title {
    font-size: 150px;
  }
}
.mid_title {
  color: var(--Colour-White-1000, #fff);
  font-family: "IBM Plex Sans";
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -8px;
  white-space: nowrap;
}

.small_title {
  color: var(--Colour-White-1000, #fff);
  font-family: "IBM Plex Sans";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -4.2px;
}

.btn_blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 152px;
  height: 152px;
  padding: 4px 4px 4px 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--Colour-Charged-Blue-500, #27c5d9);
  cursor: pointer;
  border: transparent;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.btn_blue img {
  width: 40px;
  height: 40px;
  margin-right: 0px;
  margin-left: auto;
}
.btn_blue p {
  color: var(--Colour-White-1000, #fff);
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  text-transform: uppercase;
  text-align: start;
  width: 100%;
}
.btn_blue:hover {
  background: var(--Colour-Charged-Blue-600, #20a1b2);
}
.btn_blue:active {
  background: var(--Colour-Charged-Blue-700, #197f8c);
}
.btn_blue:focus-visible {
  outline: none;
  border: 1px solid var(--Colour-Charged-Blue-500, #27c5d9);
  background: var(--Colour-Charged-Blue-700, #197f8c);
}

.btn_white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 152px;
  height: 152px;
  padding: 4px 4px 4px 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--Colour-Charged-Blue-500, #fff);
  cursor: pointer;
  border: transparent;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.btn_white img {
  width: 40px;
  height: 40px;
  margin-right: 0px;
  margin-left: auto;
}
.btn_white p {
  color: var(--Colour-White-1000, #27c5d9);
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  text-transform: uppercase;
  text-align: start;
  width: 100%;
}
.btn_white:hover {
  background: var(--Colour-White-900, rgba(255, 255, 255, 0.9));
}
.btn_white:active {
  background: var(--Colour-White-800, rgba(255, 255, 255, 0.8));
}
.btn_white:focus-visible {
  outline: none;
  border: 1px solid var(--Colour-Charged-Blue-500, #27c5d9);
  background: var(--Colour-White-800, rgba(255, 255, 255, 0.8));
}

.btn_transperent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 152px;
  height: 152px;
  padding: 4px 4px 4px 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.btn_transperent img {
  width: 40px;
  height: 40px;
  margin-right: 0px;
  margin-left: auto;
}
.btn_transperent p {
  color: var(--Colour-White-1000, #fff);
  font-family: "IBM Plex Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  text-transform: uppercase;
  text-align: start;
  width: 100%;
}
.btn_transperent:hover {
  border: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  background: var(--Colour-White-50, rgba(255, 255, 255, 0.05));
}
.btn_transperent:active {
  border: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  background: var(--Colour-White-100, rgba(255, 255, 255, 0.1));
}
.btn_transperent:focus-visible {
  outline: none;
  border: 1px solid var(--Colour-Charged-Blue-500, #27c5d9);
  background: var(--Colour-White-100, rgba(255, 255, 255, 0.1));
}

.btn_transperent_animation {
  position: absolute;
  top: -5%;
  left: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 152px;
  height: 152px;
  padding: 4px 4px 4px 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.btn_transperent_animation img {
  width: 40px;
  height: 40px;
  margin-right: 0px;
  margin-left: auto;
  -webkit-animation: jump 2s ease-in-out infinite;
          animation: jump 2s ease-in-out infinite;
}
.btn_transperent_animation p {
  color: var(--Colour-White-1000, #fff);
  font-family: "IBM Plex Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  text-transform: uppercase;
  text-align: start;
  width: 100%;
}
.btn_transperent_animation:hover {
  border: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  background: var(--Colour-White-50, rgba(255, 255, 255, 0.05));
}
.btn_transperent_animation:active {
  border: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  background: var(--Colour-White-100, rgba(255, 255, 255, 0.1));
}
.btn_transperent_animation:focus-visible {
  outline: none;
  border: 1px solid var(--Colour-Charged-Blue-500, #27c5d9);
  background: var(--Colour-White-100, rgba(255, 255, 255, 0.1));
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@media (max-width: 1300px) {
  .btn_transperent_animation {
    top: -10%;
  }
}
@media (max-width: 1100px) {
  .btn_transperent_animation {
    top: -20%;
  }
}
@media (max-width: 950px) {
  .btn_transperent_animation {
    top: -30%;
  }
}
@media (max-width: 800px) {
  .btn_transperent_animation {
    top: -45%;
  }
}
@media (max-width: 650px) {
  .btn_transperent_animation {
    top: auto;
    left: auto;
    position: relative;
    margin-left: auto;
    margin-right: 0px;
    width: 120px;
    height: 120px;
  }
  .btn_transperent_animation p {
    width: 80px;
  }
}
@media (min-width: 1441px) {
  .btn_blue,
  .btn_transperent,
  .btn_transperent_animation {
    width: 200px;
    height: 200px;
  }
  .btn_blue p,
  .btn_transperent p,
  .btn_transperent_animation p {
    font-size: 21px;
  }
}
.btn_serv {
  aspect-ratio: 1/1;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 250px;
  padding: 12px 8px 8px 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  background-color: transparent;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.btn_serv p {
  width: 100%;
  text-align: left;
  color: var(--Colour-White-500, rgba(255, 255, 255, 0.5));
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  -webkit-transition: color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out;
}
.btn_serv svg {
  margin-left: auto;
  margin-right: 0px;
}
.btn_serv svg path {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.btn_serv:hover, .btn_serv:active, .btn_serv:focus-visible {
  outline: none;
}
.btn_serv:hover p, .btn_serv:active p, .btn_serv:focus-visible p {
  color: var(--Colour-White-1000, #fff);
}
.btn_serv:hover svg path, .btn_serv:active svg path, .btn_serv:focus-visible svg path {
  fill: white;
  fill-opacity: 1;
}
.btn_serv.purple {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.btn_serv.purple:hover {
  border: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  background: #b366ff;
}
.btn_serv.purple:active {
  border: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  background: #a15ce5;
}
.btn_serv.purple:focus-visible {
  outline: none;
  border: 1px solid var(--Colour-Charged-Blue-500, #27c5d9);
  background: #a15ce5;
}
.btn_serv.blue {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.btn_serv.blue:hover {
  border: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  background: #5ce5e5;
}
.btn_serv.blue:active {
  border: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  background: #52cccc;
}
.btn_serv.blue:focus-visible {
  outline: none;
  border: 1px solid var(--Colour-Charged-Blue-500, #27c5d9);
  background: #52cccc;
}
.btn_serv.orange {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.btn_serv.orange:hover {
  border: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  background: #ffb366;
}
.btn_serv.orange:active {
  border: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  background: #e5a15c;
}
.btn_serv.orange:focus-visible {
  outline: none;
  border: 1px solid var(--Colour-Charged-Blue-500, #27c5d9);
  background: #e5a15c;
}
.btn_serv.red {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.btn_serv.red:hover {
  border: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  background: #f66;
}
.btn_serv.red:active {
  border: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  background: #e55c5c;
}
.btn_serv.red:focus-visible {
  outline: none;
  border: 1px solid var(--Colour-Charged-Blue-500, #27c5d9);
  background: #e55c5c;
}

@media (max-width: 1300px) {
  .btn_serv {
    height: 200px;
  }
}
.tag {
  border: 1px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  padding: 8px 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: gray;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "IBM Plex Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
}
.tag.purple {
  border: 1px solid rgba(179, 102, 255, 0.4);
  color: rgba(179, 102, 255, 0.8);
}
.tag.green {
  border: 1px solid rgba(102, 255, 102, 0.4);
  color: rgba(102, 255, 102, 0.8);
}
.tag.rose {
  border: 1px solid rgba(255, 102, 191, 0.4);
  color: rgba(255, 102, 191, 0.8);
}
.tag.blue {
  border: 1px solid rgba(102, 255, 255, 0.4);
  color: rgba(102, 255, 255, 0.8);
}
.tag.orange {
  border: 1px solid rgba(255, 179, 102, 0.4);
  color: rgba(255, 179, 102, 0.8);
}
.tag.red {
  border: 1px solid rgba(255, 102, 102, 0.4);
  color: rgba(255, 102, 102, 0.8);
}

.input_default {
  background-color: transparent;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  padding: 10px 10px 10px 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  outline: none;
  border: 1px solid var(--Colour-White-300, rgba(255, 255, 255, 0.3));
  color: #fff;
  font-family: "IBM Plex Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 142.857% */
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.input_default::-webkit-input-placeholder {
  color: var(--Colour-White-500, rgba(255, 255, 255, 0.5));
}
.input_default::-moz-placeholder {
  color: var(--Colour-White-500, rgba(255, 255, 255, 0.5));
}
.input_default:-ms-input-placeholder {
  color: var(--Colour-White-500, rgba(255, 255, 255, 0.5));
}
.input_default::-ms-input-placeholder {
  color: var(--Colour-White-500, rgba(255, 255, 255, 0.5));
}
.input_default::placeholder {
  color: var(--Colour-White-500, rgba(255, 255, 255, 0.5));
}
.input_default:hover {
  border: 1px solid var(--Colour-White-1000, #fff);
}

.select_work {
  text-wrap: nowrap;
  background-color: transparent;
  height: 40px;
  padding: 8px 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  border: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  color: var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  font-family: "IBM Plex Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.select_work.checked {
  background: var(--Colour-White-1000, #fff) !important;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  border: 1px solid transparent !important;
}
.select_work.checked:hover {
  border: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  background: var(--Colour-White-900, rgba(255, 255, 255, 0.8));
}
.select_work.checked:active {
  border: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  background: var(--Colour-White-800, rgba(255, 255, 255, 0.9));
}
.select_work:hover {
  background: var(--Colour-White-50, rgba(255, 255, 255, 0.05));
}
.select_work:active {
  background: var(--Colour-White-100, rgba(255, 255, 255, 0.1));
}
.select_work.white {
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
}
.select_work.white.checked {
  color: #020d12;
}
.select_work.purple {
  border: 1px solid rgba(179, 102, 255, 0.8);
  color: rgba(179, 102, 255, 0.8);
}
.select_work.purple.checked {
  color: rgb(189, 128, 250);
}
.select_work.green {
  border: 1px solid rgba(102, 255, 102, 0.4);
  color: rgba(102, 255, 102, 0.8);
}
.select_work.green.checked {
  color: rgba(102, 255, 102, 0.4);
}
.select_work.rose {
  border: 1px solid rgba(255, 102, 191, 0.4);
  color: rgba(255, 102, 191, 0.8);
}
.select_work.rose.checked {
  color: rgba(255, 102, 191, 0.4);
}
.select_work.blue {
  border: 1px solid rgba(102, 255, 255, 0.8);
  color: rgba(102, 255, 255, 0.8);
}
.select_work.blue.checked {
  color: rgb(117, 214, 214);
}
.select_work.orange {
  border: 1px solid rgba(204, 143, 82, 0.8);
  color: rgba(255, 179, 102, 0.8);
}
.select_work.orange.checked {
  color: rgb(209, 161, 112);
}
.select_work.red {
  border: 1px solid rgba(255, 102, 102, 0.8);
  color: rgba(255, 102, 102, 0.8);
}
.select_work.red.checked {
  color: rgb(255, 133, 133);
}

.select_price {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  padding: 8px 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  color: var(--Colour-White-1000, #fff);
  font-family: "IBM Plex Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
  border: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.select_price:hover {
  border: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  background: var(--Colour-White-50, rgba(255, 255, 255, 0.05));
}
.select_price:active {
  border: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  background: var(--Colour-White-100, rgba(255, 255, 255, 0.1));
}
.select_price.checked {
  border: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  background: var(--Colour-White-1000, #fff);
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  color: var(--Colour-Charged-Blue-500, #27c5d9);
}
.select_price.checked:hover {
  border: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  background: var(--Colour-White-900, rgba(255, 255, 255, 0.9));
}
.select_price.checked:active {
  border: 1px solid var(--Colour-White-100, rgba(255, 255, 255, 0.1));
  background: var(--Colour-White-800, rgba(255, 255, 255, 0.8));
}

.btn40 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 4px 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border: 1px solid transparent;
  background: var(--Colour-White-50, rgba(255, 255, 255, 0.05));
  -webkit-transition: var(--text);
  transition: var(--text);
  cursor: pointer;
}
.btn40:not(.disable):not(.active):hover {
  background: var(--Colour-White-50, rgba(255, 255, 255, 0.1));
}
.btn40:not(.disable):not(.active):active {
  background: var(--Colour-White-50, rgba(255, 255, 255, 0.2));
}
.btn40:not(.disable):not(.active):focus-visible {
  border: 1px solid #27c5d9;
}
.btn40 img {
  width: 24px;
  height: 24px;
}
.btn40.active {
  background: var(--Colour-Charged-Blue-500, #27c5d9);
}
.btn40.disable {
  cursor: default;
  color: var(--Colour-White-500, rgba(255, 255, 255, 0.5));
}
.btn40.disable svg path {
  fill: rgba(255, 255, 255, 0.5);
}

@media (max-width: 700px) {
  .btn_blue,
  .btn_white,
  .btn_transperent {
    width: 120px;
    height: 120px;
  }
  .btn_blue p,
  .btn_white p,
  .btn_transperent p {
    font-size: 14px;
  }
  .big_title {
    color: var(--Colour-White-1000, #fff);
    font-family: "IBM Plex Sans";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 72px */
    letter-spacing: -4.2px;
  }
  .small_title {
    color: var(--Colour-White-1000, #fff);
    /* Typography/Title/Large */
    font-family: "IBM Plex Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%; /* 40px */
    letter-spacing: -2.4px;
  }
  .mid_title {
    color: var(--Colour-White-1000, #fff);
    /* Typography/Header/Small */
    font-family: "IBM Plex Sans";
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%; /* 72px */
    letter-spacing: -4.2px;
  }
}